<p id="notice"><%= notice %></p>

<h1>Scaffs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scaffs.each do |scaff| %>
      <tr>
        <td><%= scaff.name %></td>
        <td><%= scaff.description %></td>
        <td><%= scaff.price %></td>
        <td><%= link_to 'Show', scaff %></td>
        <td><%= link_to 'Edit', edit_scaff_path(scaff) %></td>
        <td><%= link_to 'Destroy', scaff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scaff', new_scaff_path %>
