<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @scaff.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @scaff.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @scaff.price %>
</p>

<%= link_to 'Edit', edit_scaff_path(@scaff) %> |
<%= link_to 'Back', scaffs_path %>
